

.resumeContainer {
  background-color: #1B3342;
  ;
}

.resume {
  display: block;
  margin: 50px auto;
  padding-left: auto;
  /* margin-left: 500px auto; */
  margin-right: auto;
  width: 50%;
}

.pdfbackground {
  background-image: url(./components/images/BlogBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.sticky-bottom {
  background-color: #1B3342;
}

html {
  background-color: #1B3342;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body{
  background-color: #233744;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}